/*----------IMPORTING----------*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  z-index: 0;
}

a,
a:visited,
a:active {
  list-style-type: none;
  text-decoration: none;
}

a,
a:visited,
a:active,
a:hover,
button,
input,
input:active,
input:hover,
input:visited,
textarea {
  outline: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  color: #1056ad;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.5px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.5px;
}

h6 {
  font-size: 11px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cleared {
  clear: both;
}

.button {
  display: block;
  width: auto;
  height: auto;
  padding: 7px 25px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background: #f01b1b;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 5%;
  margin-left: auto;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.beta {
  width: auto;
  cursor: pointer;
  height: auto;
  padding: 5px 7px;
  text-transform: uppercase;
  background: #f0b01b;
  border: none;
  color: #323232;
  font-weight: 600;
}

::-webkit-input-placeholder {
  font-weight: 600;
}

:-moz-placeholder {
  font-weight: 600;
}

::-moz-placeholder {
  font-weight: 600;
}

:-ms-input-placeholder {
  font-weight: 600;
}

body > header {
  width: 100%;
  height: auto;
  display: block;
  background-color: #512E5E;
  position: fixed;
  z-index: 999;
}
body > header nav {
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
body > header nav ul {
  color: #fff;
}
body > header nav ul li {
  display: inline-block;
  padding: 19px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
body > header nav ul li:hover {
  background-color: #3c2246;
}

#all {
  padding-top: 60px;
}

#home-image {
  background-color: #42264d;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
}
#home-image h1 {
  padding: 3% 0% 1%;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
}
#home-image p {
  width: 60%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1.4% 0% 3%;
}
#home-image a[data-icon="octicon-star"] {
  margin-right: 5px;
}
#home-image div {
  padding-bottom: 5%;
}

#tell {
  width: 100%;
  height: auto;
  background-color: #20194A;
}
#tell a {
  text-align: center;
}
#tell a h1 {
  color: #fff;
  padding: 3% 0% 1%;
}
#tell form {
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3%;
}
#tell form input, #tell form textarea {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: #fff;
  display: block;
  height: auto;
  box-sizing: border-box;
  margin: 10px 0px;
  padding: 13px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
#tell form textarea {
  max-height: 900px;
}

#others-histories {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-bottom: 3%;
  background-color: #482954;
}
#others-histories header {
  text-align: center;
  color: #fff;
}
#others-histories header h2 {
  color: #fff;
  padding: 3% 0% 1%;
}
#others-histories header ul li {
  display: inline-block;
  padding: 12px 9px;
  cursor: pointer;
}
#others-histories header ul li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
#others-histories article {
  width: 90%;
  height: auto;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
#others-histories article h3 {
  color: #fff;
  padding: 15px;
}
#others-histories article p {
  padding: 0px 15px;
  font-size: 13px;
  color: #fff;
}
#others-histories article button {
  color: #F40968;
  width: auto;
  height: auto;
  background-color: #42264d;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  padding: 7px;
  margin: 15px;
  right: 0;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #20194A;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0px;
}

/*# sourceMappingURL=main.css.map */
