body > header {
	width: 100%;
	height: auto;
	display: block;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 999;

	nav {
		display: block;
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		ul {
			color: $purple;

			li {
				display: inline-block;
				cursor: pointer;
					padding: 19px 10px;

				a {
					padding: 19px 10px;
					box-sizing: border-box;
					color: white;
					text-transform: uppercase;
					font-weight: bold;
				}

				&:hover a {
				}
			}

		}
	}
}